.card {
    width: 400px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 15px 15px 10px #b9c6b4;
    border-radius: 10px;
    padding: 20px;
}
body {
    margin: 0;
    background: url("../img/fon%206.jpg");
}
.card-photo {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;       
}
.card-title {
    font-size: 25px;
    color: #991a1a;
    text-align: center;
}
.card-title-2 {
    font-size: 18px;
    color: #5a1111;
    text-align: left;   
}
.card-text {
    margin: 17px 0;
    line-height: 1.3;
    font-size: 15px;
    color: #000000;
    text-align: left;
    font-family: sans-serif;
}
.card-list {
    margin: 17px 0;
    line-height: 1.3;
    font-size: 15px;
    color: #000000;
    text-align: left;
    font-family: sans-serif;
}
